# Shallow Nueral Network

![shallownet](shallownet.png)

# Objectives

- To develop a machine learning model using a shallow neural network architecture
- Use the Iris dataset to train the model
- Do a perfomance analysis on the model
- Use the developed model to make predictions

# Machine Learning Model Development Flowchat
![image](flowchat.png)

In [1]:
# Import Libraries --- [ numpy, pandas, matplotlib, keras, sklearn,]
import numpy as np
import pandas as pd
import keras
from matplotlib import pyplot as plt
import sklearn

In [9]:
# Load Dataset
dataset = pd.read_csv('Iris.csv')
dataset.drop(columns='Id', inplace=True)
dataset.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [11]:
# Define Input and Output Variables
x = dataset.drop(columns='Species')
x.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0            5.1           3.5            1.4           0.2
1            4.9           3.0            1.4           0.2
2            4.7           3.2            1.3           0.2
3            4.6           3.1            1.5           0.2
4            5.0           3.6            1.4           0.2

In [13]:
y = dataset['Species']
y.head()

0    Iris-setosa
1    Iris-setosa
2    Iris-setosa
3    Iris-setosa
4    Iris-setosa
Name: Species, dtype: object

In [15]:
y

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Species, Length: 150, dtype: object

In [18]:
# Split Data into Training and Testing Part
from sklearn.model_selection import train_test_split
# x, y = 2, 5
x_train, y_train, x_test, y_test = train_test_split(x, y, test_size=0.3)

In [25]:
# Build Shallow Network Model
from keras.models import Sequential
from keras.layers import Dense

model = Sequential()
model.add(Dense(5, input_dim = 4, activation='relu'))
model.add(Dense(3, activation='softmax'))

In [ ]:
# Compile Model

In [ ]:
# Check Model Summary

In [ ]:
# Check Initial weights

In [ ]:
# Fit Model

In [ ]:
# Change Target Output to Categorical

In [ ]:
# Evaluate Model

In [ ]:
# Make Predictions with Test Part of Dataset

In [ ]:
# Make Prediction with albetrary values

In [ ]:
# Analyse Results